include ../../../html/jade-helpers.jade

nav#global-nav
  header
    h1 #{data.siteName}
    p#tagline #{data.siteTagline}
    nav#nav-toggle #{data.abbr}
  ul#nav-menu
    - for (i=0; i< data.globalNav.length; i++) {
      li
        //- search
        if data.globalNav[i].text == "Search"
          form#search-field
            i.foundicon-search.general-icon
            input(type="text", placeholder="#{data.globalNav[i].text}")
        else
          a(href="#{data.globalNav[i].link}") #{data.globalNav[i].text}
    - }
  +partial("global-nav-footer/html/global-nav-footer.jade","modules/global-nav-footer/data/global-nav-footer.json")
