table.league-table
  thead
    tr
      th Pos
      th Club
      th P
      th W
      th D
      th L
      th Pts
  tbody
    - for (i=0; i<data.length; i++) {
      tr(data-club="#{data[i].slug}")
        td.position #{i+1}
        td.team #{data[i].team}
        td.numbers #{data[i].played}
        td.numbers #{data[i].won}
        td.numbers #{data[i].draw}
        td.numbers #{data[i].loss}
        td.numbers #{data[i].points}
    - }
