section#club-overviews
	ul
		- for (i=0; i< data.clubs.length; i++) {
		li(data-club="#{data.clubs[i].slug}")
			//- h3.club-name #{data.clubs[i].name}
			img.club-logo(src="img/leagues/#{data.league.slug}/#{data.clubs[i].slug}.png")
			//- previous match
			- if (data.clubs[i].lastResult)
			h4 Last Result
			p
				if (data.clubs[i].lastResult.win)
					| W
				else
					| L
				| &nbsp;#{data.clubs[i].lastResult.gf} - #{data.clubs[i].lastResult.ga} #{data.clubs[i].lastResult.opponent.name}
			//- next match
			- if (data.clubs[i].nextMatch)
			h4 Next Match
			p
				if (data.clubs[i].nextMatch.home)
					| vs. 
				else
					| @
				|	#{data.clubs[i].nextMatch.opponent.name}
			//- manager
			h4 Manager: #{data.clubs[i].manager}
			//- stadium
			section.stadium(data-stadium-name="#{data.clubs[i].stadium.name}",
				data-stadium-address="#{data.clubs[i].stadium.address}",
			data-stadium-lat="#{data.clubs[i].stadium.lat}", 
			data-stadium-long="#{data.clubs[i].stadium.long}")
				h5 #{data.clubs[i].stadium.name}
		- }
